
<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <div class="right-options pull-right">
        <ul class=" list-inline nav navbar-nav">
          <li *ngIf="displayUserName" class="dropdown"><i class="glyphicon glyphicon-user dropbtn" aria-hidden="true"></i>
            <div class="dropdown-content">
              <a href="#"><strong>{{userData}}</strong></a>
            </div>
          </li>

          <!--<div class="dropdown">-->
          <!--<button class="dropbtn">Dropdown</button>-->
          <!--<div class="dropdown-content">-->
          <!--<a href="#">Link 1</a>-->
          <!--<a href="#">Link 2</a>-->
          <!--<a href="#">Link 3</a>-->
          <!--</div>-->
          <!--</div>-->

          <!--<li *ngIf="UserData">|</li>-->
          <li *ngIf="!displayUserName" class="dropdown">
            <button class="dropbtn navbar-btn">Log In</button>
            <div class="dropdown-content">
              <a [routerLink]="['/login','User']">Log In as User</a>
              <a [routerLink]="['/login','Merchant']">Log In as Merchant</a>
            </div>
          </li>
          <!--<li>|</li>-->
          <li *ngIf="!displayUserName" class="dropdown">
            <button class="dropbtn navbar-btn">Register</button>
            <div class="dropdown-content">
              <a [routerLink]="['/register','User']">Register as User</a>
              <a [routerLink]="['/register','Merchant']">Register as Merchant</a>
            </div>
          </li>
          <!--<li>|</li>-->
          <li><button class="dropbtn navbar-btn" (click)="LogOut()">Sign Out</button></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
